$font: Roboto, Helvetica, Arial, sans-serif;
$del-button-fallback-color: #ED213A;
$del-button-linear-webkit-gradient: -webkit-linear-gradient(to right, #93291E, #ED213A);
$del-button-background-color: linear-gradient(to right, #93291E, #ED213A);
$save-button-background: #4285f4;
$white: #fff;
$event-input-field-width: calc(560px + (100% - 992px)*.16666667);
$dark-gray: #616161;
$light-gray: #f5f5f5;

.center-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.save-event-btn {
  cursor: pointer;
  background: $save-button-background;
  padding: 10px 20px;
  border: 0px;
  border-radius: 8px;
  color: $white;
  font-size: 15px;
  font-family: $font;
  text-transform: uppercase;
}

.del-event-btn {
  cursor: pointer;
  background: $del-button-fallback-color;
  background: $del-button-linear-webkit-gradient;
  background: $del-button-background-color;
  padding: 10px 20px;
  border: 0px;
  border-radius: 8px;
  color: $white;
  font-size: 15px;
  font-family: $font;
  text-transform: uppercase;
  display: none;
}

#event-type {
  height: auto;
  cursor: pointer;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 400;
  padding-left: 8px;
  line-height: 20px;
}

.select-options {
  height: auto;
  cursor: pointer;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 400;
  padding-left: 8px;
  line-height: 35px;
}

#event-name, #date-event {
  color: $dark-gray;
  width: $event-input-field-width;
  font-size: 20px;
  margin-right: 16px;
  background-color: $light-gray;
  border: 0px;
  outline:none;
  border-radius: 3px;
  padding: 8px 8px 5px 8px;
  font-family: $font;
  border-bottom: 2px solid white;
}

#event-name:hover, #date-event:hover {
  border-bottom: 2px solid #4285f4;
}

.separate {
  padding-bottom: 15px;
}


.display-block {
  display: inline-block;
}