$plus-button-background: #f8f8f8;

.fa-plus {
  background: $plus-button-background;
}

.show-month {
  height: 30%;
  width: 80%;
}

.month-navigation {
  height: 15%;
  width: 100%;
  display: flex;
  padding-left: 12px;
  margin-top: 20px;
}