$font: Roboto,Helvetica,Arial,SansSerif;
$primary-text-color: #757575;
$container-height: calc(90% - 2px);
$border-color: #f5f5f5;

html, body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font;
}
//TODO netureti default values.
input {
  font-family: $font;
}

h2 {
  padding-left: 8px;
  display: block;
  margin: 0;
  width: 15px;
  height: 22px;
  color: $primary-text-color;
}

span {
  color: $primary-text-color;
}

.navigation {
  height: 10%;
}

.container {
  height: $container-height;
  border: 1px solid $border-color;
  display: grid;
  grid-template-columns: 18% 82%;
}

%side-navigation {
  display: flex;
}

.side-navigate {
  @extend %side-navigation
}

.sidebar {
  @extend %side-navigation;
  height: 100%;
  width: 87%;
}

.week-labels {
  @extend %side-navigation;
  flex-direction: column;
  width: 13%;
  height: 100%;
  font-size: 16px;
  font-family: Roboto;
  border-left: 1px solid $border-color;
}

.week-label {
  height: 20%;
  @extend %side-navigation;
  align-items: center;
  justify-content: center;
}

.frame > {
  div{
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}

.truncate {
  padding-left: 5px;
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rotate-ninety{
  display:block;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.hamburger {
  visibility: hidden;
}