

@media only screen and (max-width: 1300px) {
    .week-labels {display:none}

    .container {
        width: 100%;
        height: calc(100% - 2px);
        grid-template-rows: 100%;
        grid-template-columns: 15% 85%;
    }
    .calendar {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .calendar > div {
        width: 150px;
    }
    .add-calendar {
        width: 75%;
        border: white;
        background: #F8F8F8;
        height: 28px;
    }
    .truncate{
        width: 120px;
    }
}
@media only screen and (max-width: 1000px) {
    header {
        display:none;
    }

    .container {
        width: 100%;
        height: calc(100% - 2px);
        grid-template-rows: 15% 85%;
        grid-template-columns: 100%;
    }

    .sidebar > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }

    .week-labels {visibility: hidden}
    .calendar {
        display: grid;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .calendar > div {
        width: 130px;
    }

    .hamburger {
        visibility: visible;
        color: black;
    }

    .sidebar:hover > div {
        visibility: visible;
    }

    .sidebar:hover > .hamburger {
        visibility: hidden;
    }

    .truncate{
        width: 100px;
    }
}

@media (max-width: 600px) {

    .container {
        width: 100%;
        height: calc(100% - 2px);
        grid-template-rows: 10% 90%;
        grid-template-columns: 100%;
    }

    .sidebar > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }

    .week-labels {visibility: hidden}

    .calendar {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(28, 1fr);
    }

    .calendar > div {
        width: 100%;
        height: 150px;
    }

    .truncate{
        width: 120px;
    }
}