h2::selection {
  background: #add8e6;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.days div > div > h2 {
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
}
.days div > div > h2:hover {
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

section > div > div {
  line-height: 28px;
  padding-left: 6px;
  margin-right: 8px;
  margin-bottom: 2px;
}
section > div:hover {
  transition-duration: 500ms;
  background: #f5f5f5;
}

.weekday {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weekday-header {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  font-size: 12px;
}

.highlight-day {
  background: #f5f5f5;
}

.daily-event, .daily-action {
  color: #fff;
  margin-bottom: 3px;
  border-radius: 5px;
}

.daily-action {
  background-color: #7986cb;
}

.daily-event {
  background-color: #1e90ff;
}

.event-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  height: 75%;
  width: 90%;
}

event-widget {
  font-size: 14px;
  border-radius: 4px;
}

.shadow {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.calendar-plus-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: url("../Add_button.png") no-repeat 0 0;
  width: 59px;
  height: 59px;
  border-radius: 59px;
}

.icon-one:hover {
  background-position: -60px 0px;
}

/*# sourceMappingURL=calendar.css.map */
