.center-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.save-event-btn {
  cursor: pointer;
  background: #4285f4;
  padding: 10px 20px;
  border: 0px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.del-event-btn {
  cursor: pointer;
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  background: linear-gradient(to right, #93291E, #ED213A);
  padding: 10px 20px;
  border: 0px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  display: none;
}

#event-type {
  height: auto;
  cursor: pointer;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 400;
  padding-left: 8px;
  line-height: 20px;
}

.select-options {
  height: auto;
  cursor: pointer;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 400;
  padding-left: 8px;
  line-height: 35px;
}

#event-name, #date-event {
  color: #616161;
  width: calc(560px + (100% - 992px)*.16666667);
  font-size: 20px;
  margin-right: 16px;
  background-color: #f5f5f5;
  border: 0px;
  outline: none;
  border-radius: 3px;
  padding: 8px 8px 5px 8px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-bottom: 2px solid white;
}

#event-name:hover, #date-event:hover {
  border-bottom: 2px solid #4285f4;
}

.separate {
  padding-bottom: 15px;
}

.display-block {
  display: inline-block;
}

/*# sourceMappingURL=event-form.css.map */
