html, body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, SansSerif;
}

input {
  font-family: Roboto, Helvetica, Arial, SansSerif;
}

h2 {
  padding-left: 8px;
  display: block;
  margin: 0;
  width: 15px;
  height: 22px;
  color: #757575;
}

span {
  color: #757575;
}

.navigation {
  height: 10%;
}

.container {
  height: calc(90% - 2px);
  border: 1px solid #f5f5f5;
  display: grid;
  grid-template-columns: 18% 82%;
}

.week-label, .week-labels, .sidebar, .side-navigate {
  display: flex;
}

.sidebar {
  height: 100%;
  width: 87%;
}

.week-labels {
  flex-direction: column;
  width: 13%;
  height: 100%;
  font-size: 16px;
  font-family: Roboto;
  border-left: 1px solid #f5f5f5;
}

.week-label {
  height: 20%;
  align-items: center;
  justify-content: center;
}

.frame > div {
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.truncate {
  padding-left: 5px;
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rotate-ninety {
  display: block;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.hamburger {
  visibility: hidden;
}

/*# sourceMappingURL=styles.css.map */
